.answer-card {
    padding: 8px 12px;
    border: 2px solid #eee;
    border-radius: 12px;
    // height: 232px;

    &.correct {
        border: 2px solid green;
    }

    svg {
        cursor: pointer;
    }
}

.new-answer-btn {
    background-color: #f3f3f3;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    border-radius: 12px;
    cursor: pointer;
    height: 232px;
}