.g-avatar {
    &-wrapper {
        width: 120px;
        height: 120px;
        position: relative;
        border-radius: 50%;
        border: 1px solid rgb(201, 201, 201);

        .image {
            width: 100%;
            height: 100%;
            background-color: rgb(201, 201, 201);
            overflow: hidden;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .input {
            cursor: pointer;
            position: absolute;
            width: 30px;
            height: 30px;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            overflow: hidden;
            background-color: #fff;
            border: 1px solid #dadce2;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                display: none;
            }
        }
    }
}