.btn {
  padding: 12px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  position: relative;

  .tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    background-color: #000000b3;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
      z-index: 100;
    }
  }

  &.main {
    background: linear-gradient(180deg, #4BA0F3 0%, #197CDC 100%);
    color: #fff;
  }

  &.transparent {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
  }

  &.linear {
    background: linear-gradient(132.74deg, #1CDEB0 3.84%, #36BBD7 49.32%, #4BA0F3 92.48%);
  }

  &.blue {
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 4px;
    background: rgba(224, 239, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.red {
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 4px;
    background: rgba(255, 227, 232, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.info {
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 4px;
    background: rgb(255, 219, 140, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.green {
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 4px;
    background: rgb(163 226 168 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.premium {
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 4px;
    background: rgba(227, 91, 255, 0.33);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.big {
    color: #fff;
    background: linear-gradient(180deg, #1B50B0 0%, #1147AA 100%);
    font-size: 20px;
    font-weight: 700;
    line-height: 22.9px;
    text-align: center;
    padding: 20px 0;
    width: 100%;
  }

  &.danger {
    background: rgba(236, 55, 81, 1);
    color: #fff;
  }

  &.success {
    background: rgb(36, 166, 36);
    color: #fff;
  }
}

.user-btn {
  padding: 12px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  position: relative;

  .tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    background-color: #000000b3;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }

  &.main {
    background: #197CDC;
    color: #fff;
  }
}