.color-picker {
  label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.9px;
    text-align: left;
    margin-bottom: 8px;
  }

  &-wrapper {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgba(180, 187, 200, 1);
    display: flex;
    height: 48px;
    align-items: center;
    position: relative;

    input {
      width: 100%;
      height: 48px;
      padding: 0;
    }
  }
}