.g-device {
  background: #f5f5f5;
  padding: 12px;
  border-radius: 8px;

  .device {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .screen {
    margin-top: 12px;
    .img {
      border-radius: 8px;
      overflow: hidden;
      border: 1px solid #ccc;
      height: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  .info {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .user {
      font-size: 20px;
      font-weight: 500;
    }

    .duration {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
