.g-file-uploader {
   &-wrapper {
     label {
       display: block;
       font-size: 16px;
       font-weight: 500;
       line-height: 22.9px;
       text-align: left;
       margin-bottom: 8px;
     }

     input {
       display: none;
     }

     .uploader {
       width: 100%;
       height: 100px;
       border: 1px dashed rgb(180, 187, 200);
       border-radius: 4px;
       color: rgb(104, 104, 104);
       cursor: pointer;
       display: flex;
       align-items: center;
       justify-content: center;
     }
   }
}

.file {
  padding: 8px;
  background: rgb(242, 242, 242);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  cursor: pointer;
}