.g-images{
    display: flex;
    gap: 12px;
    width: 100%;

    .image {
        width: 150px;
        height: 200px;
        border-radius: 12px;
        background-color: #000;
        overflow: hidden;
        cursor: pointer;
        position: relative;

        .cover {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgb(0 0 0 / 47%);
            left: 0;
            top: 0;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

        svg {
            position: absolute;
            width: 20px;
            height: 20px;
            fill: #fff;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            .cover {
                opacity: 1;
            }

            svg {
                opacity: 1;
            }
        }
        
        img {
            object-fit: contain;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    .selected-img {
        position: fixed;
        background-color: rgb(0 0 0 / 47%);
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 50%;
            height: 50%;
            object-fit: contain;
            object-position: center;
        }
    }
}