.g-image-uploader {
    .uploader {
        cursor: pointer;
        display: flex;
        width: 100%;
        padding: 4px;
        background-color: #eee;
        border: 1px solid rgb(180, 187, 200);
        height: 100px;
        border-radius: 8px;
        align-items: center;
        justify-content: center;

        input {
            display: none;
        }

        .label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
    }


    .images {
        display: flex;
        gap: 8px;
        padding-top: 12px;
        flex-wrap: wrap;

        .image {
            width: 120px;
            height: 120px;
            border: 1px solid #aaa;
            border-radius: 8px;
            position: relative;
            overflow: hidden;

            .actions {
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.616);
                height: 24px;
                gap: 8px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }       
    }

    .img-preview {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.39);

        img {
            width: 50%;
            height: 50%;
            object-fit: contain;
            object-position: center;
        }
    }
}