.g-quill {
    label {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 22.9px;
        text-align: left;
        margin-bottom: 8px;
    }
    
    .ql-editor {
        p {
            font-size: 16px;
        }
    }
}