.select {


  label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.9px;
    text-align: left;
    margin-bottom: 8px;
  }

  &-wrapper {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgba(180, 187, 200, 1);
    display: flex;
    height: 48px;
    align-items: center;
    position: relative;
    cursor: pointer;

    svg {
      cursor: pointer;
    }

    .top {
      position: absolute;
      top: -6px;
      background: #fff;
      left: 12px;
      font-size: 12px;
      color: rgba(104, 104, 104, 1);
    }

    .default {
      position: absolute;
      //top: -6px;
      background: #fff;
      font-size: 16px;
      color: rgba(104, 104, 104, 1);
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.1px;
    }

    select {
      width: 100%;
      cursor: pointer;
      background: transparent;
      border: none;
      font-size: 16px;
      //color: rgba(104, 104, 104, 1);
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.1px;
      text-align: left;
      padding: 12px 0;
    }
  }

  &.transparent {
    color: #fff;

    select {
      color: #fff;
    }

    .top {
      background: transparent;
      color: #fff;
    }

    svg {
      fill: #fff;
    }
  }
}