.g-single-image-uploader {
    .uploader {
        .label {
            display: block;
            font-size: 16px;
            font-weight: 500;
            line-height: 22.9px;
            text-align: left;
            margin-bottom: 8px;
        }

        .input {
            input {
                display: none;
            }

            label {
                .img {
                    height: 400px;
                    border: 1px solid rgb(180, 187, 200);
                    position: relative;
                    border-radius: 4px;
                    overflow: hidden;
                    padding: 8px 12px;
                    background-color: #f0f0f0;

                    .clear {
                        position: absolute;
                        right: 12px;
                        top: 8px;
                        z-index: 10;

                        svg {
                            cursor: pointer;
                            width: 28px;
                            height: 28px;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: contain;
                    }

                    .placeholder {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}