.table {
  width: 100%;

  table {
    width: 100%;
    border-spacing: 0;
    border-color: transparent;

    tr {
      background: #fff;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #f5f5f5 !important;
      }

      th {
        padding: 7px 12px;
        background: rgba(239, 247, 255, 1);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        border: none;
        color: rgba(78, 112, 147, 1);
        height: 100%;

        &:first-child {
          border-top-left-radius: 8px;
        }
        &:last-child {
          border-top-right-radius: 8px;
        }
      }

      td {
        padding: 5px 12px;
        //background: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: rgba(49, 49, 49, 1);
        height: 100%;

        &.sticky-column {
          position: sticky;
          z-index: 1;
          right: 0;
        }
      }

      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 8px;
          }
          &:last-child {
            border-bottom-right-radius: 8px;
          }
        }
      }
    }
  }
}
