@import "button", "padding", "margin", "radius", "input", "flex", "size", "text",
  "table", "modal", "select", "textarea", "tab", "checkbox", "file-uploader",
  "files", "search", "appeal", "chart", "color-picker", "switch",
  "image-uploader", "image-uploader-mini", "images", "breadcrumbs", "avatar",
  "tiny-editor", "quill", "border", "single-image-uploader", "device",
  "frame-video";
