.sidebar {
  max-width: 312px;
  min-width: 312px;
  overflow-y: auto;
  &-top {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 20px;
    .logo {
      height: 44px;
      min-width: 44px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
      svg {
        height: 28px;
      }
    }
    .title {
      text-transform: uppercase;
      width: 100%;
      color: #fff;
      font-size: 20px;
      font-weight: 800;
      line-height: 22.4px;
      text-align: center;
      padding: 16px 0;
    }
  }
  &-menus {
    .menu {
      margin-bottom: 4px;

      .menu-parent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: rgba(255, 255, 255, 0.15);
        }

        .left {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        span {
          color: #fff;
          font-size: 16px;
          font-weight: 500;
        }
      }

      .arrow {
        color: #fff;
        transition: transform 0.3s ease;

        &.open {
          transform: rotate(180deg);
        }
      }

      &-child {
        margin-top: 8px;
        padding: 8px 12px;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.12);

        li {
          /* margin-bottom: 6px; */

          a {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 10px;
            border-radius: 6px;
            color: #fff;
            font-size: 16px;

            &:hover,
            &.router-link-active {
              background: rgba(255, 255, 255, 0.2);
            }
          }
        }
      }
    }
  }
}

/* ANIMATION */
.accordion-enter-active,
.accordion-leave-active {
  transition: all 0.25s ease;
}

.accordion-enter-from,
.accordion-leave-to {
  opacity: 0;
  transform: translateY(-6px);
}

.active-child {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}

.active-parent {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}
