.container {
    width: 100%;
    padding: 0 24px;
    max-width: 1600px;
    margin: 0 auto;

    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;

}

.user-layout {}