.page-body {
  display: flex;
  height: calc(100% - 84px);
  width: 100%;

  .create-new-product {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;

    .create-new-product-main {
      width: 100%;
      height: 100%;
      display: flex;
      flex: 1;
      gap: 36px;

      .page-body-left {
        height: 100%;
        width: 100%;

        .page-body-left-main {
          width: 100%;

          .title {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 12px;

            &::after {
              content: "";
              flex: 1;
              height: 2px;
              background: #ddd;
              border-radius: 4px;
            }
          }

          textarea,
          input {
            font-size: 14px;
            margin-bottom: 0;
          }

          .image-previews {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;

            .image-wrapper {
              position: relative;
              width: 100px;
              height: 100px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                border: 1px solid #ccc;
              }

              .delete-btn {
                position: absolute;
                top: -6px;
                right: -6px;
                /* background: #ff4d4f; */
                /* color: white; */
                border: none;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                cursor: pointer;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }

          .product-image-upload {
            display: flex;
            gap: 8px;
            align-items: center;

            .image-upload input[type="file"] {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              z-index: 2;
              cursor: pointer;
            }

            .image-upload {
              height: 100px;
              width: 100px;
              border: 1px solid #cfcfcf;
              overflow: hidden;
              border-radius: 8px;
              position: relative;

              input {
                height: 100%;
                width: 100%;
                opacity: 0;
                z-index: 101;
              }

              .image-upload-item {
                pointer-events: none;
                position: absolute;
                top: 0;
                font-size: 14px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 100;
              }
            }
          }

          .ql-toolbar {
            border: 1px solid #cfcfcf;
            border-bottom: none;
            border-radius: 4px 4px 0 0;
          }

          .ql-container {
            border: 1px solid #cfcfcf;
            border-radius: 0 0 4px 4px;
          }

          .ql-editor {
            height: 150px;
          }
        }
      }

      .page-body-right {
        height: 100%;
        width: 100%;
        background-color: white;
        border: 8px;

        .title {
          display: flex;
          align-items: center;
          gap: 12px;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 12px;

          &::after {
            content: "";
            flex: 1;
            height: 2px;
            background: #ddd;
            border-radius: 4px;
          }
        }

        .image-gallery {
          display: flex;
          gap: 16px;
          height: 50%;

          .thumbnails {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 80px;
            height: 270px;
            overflow-y: scroll;
            border-radius: 8px;

            .thumbnail-item {
              width: 100%;
              height: 116px;
              cursor: pointer;
              border: 2px solid transparent;
              border-radius: 4px;

              &.selected {
                border-color: #197cdc;
              }

              img {
                width: 100%;
                height: 112px;
                object-fit: cover;
                border-radius: 4px;
              }
            }
          }

          .preview {
            flex: 0.6;
            height: 270px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #cfcfcf;
            border-radius: 12px;
            border-radius: 4px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 4px;
            }

            .no-image {
              color: #888;
              text-align: center;
            }
          }

          .preview-about {
            flex: 0.4;
          }
        }
      }
    }
  }
}
