.sign-in {
  height: 100%;

  &-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;

    form {
      padding: 80px;
      background: #fff;
      border-radius: 8px;
      width: 788px;

      @include devices(md) {
        padding: 48px;
      }

      @include devices(sm) {
        padding: 32px;
      }

      h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 45.8px;
        text-align: left;
        color: rgba(33, 33, 33, 1);
        margin-bottom: 16px;
      }

      &>span {
        font-size: 20px;
        font-weight: 400;
        line-height: 22.9px;
        text-align: left;
        color: rgba(93, 102, 118, 1);
        margin-bottom: 40px;
        display: block;

        @include devices(sm) {
          margin-bottom: 24px;
        }
      }
    }
  }
}